.errors-colors {
  color: red;
  font-weight: 800;
  font-size: 16px;
}

.errors-div {
  border: 1px solid red;
  width: 40%;
  padding: 2% 0 2% 2%;
  margin-bottom: 40px;
  border-radius: 10px;
}

.errors-client-side {
  border: 1px solid red;
  width: 100%;
  padding: 2% 0 2% 2%;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
}